<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User DataBase Details</title>
</head>
<body>
    <h1>Delete the user</h1>
    <h3>To delete this user:@<%= user[0].email%> , Enter the Password</h3>
    <form action="/users/<%= user[0].id %>?_method=DELETE" method="post">
         <input type="password" name="password" placeholder="enter correct password"/>
         <button>Delete</button>
    </form>
   
</body>
</html>