<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User DataBase Details</title>
</head>
<body>
    <h1>Welcome</h1>
    <form action="/users" method="post">
        <input type="text" placeholder="Enter your User_name" name="username" />
        <input type="text" placeholder="Enter correct email" name="email"/>
        <input type="text" placeholder="Enter the password"  name="password"/>
        <button>submit</button>
    </form>
</body>
</html>